:root {
  --globalFontSize: 10px;
  --defaultFontSize: 1.6rem;
  --defaultFontFamily: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;

  --primaryColor: #101010;
}